
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/style.css">
   

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

        <section id="search" class="section section-search   light-blue lighten-2
        white-text center scrollspy" style="height: 90px;">

             <div class="container">
               <div class="row">
                 <div class="col s12 m8 offset-m1 xl7 offset-xl1"></div>
                
                 <div class="input-field col s12 m8 offset-m4" >
                   
                   <input type="text" class="white grey-text center  " style="border-radius: 50px !important; height:40px  !important;"
                     placeholder="Search by category,date,author...">
                   
                 </div>
               </div>
             </div>
         </section>
    <div class="container">
        <a href="#" data-target="nav-mobile"class="top-nav sidenav-trigger full hide-on-large-only" >
            <i class="material-icons" >menu</i>    
        </a>
    </div>
            <ul id="nav-mobile"  class="sidenav sidenav-fixed"  style="transform: translateX(-105%);">
                <li><div class="user-view">
                  <div class="background">
                    <img src="./images/icons/TEAMWORK.png" style="margin-top: 25px; margin-left: 40px;">
                  </div>
                  <a href="#user"><img class="circle " src="./images/icons/bg.png" style="width: 20%; height: 20%; margin-left: 50px; margin-top: 50px; "></a>
                  <a href="#name"><span class="blue-text name">Jenny kibiri<i class="material-icons green-text" style="font-size: 15px">fiber_manual_record</i></span></a>
                  <a href="#email"><span class="blue-text email">jenykibiri@gmail.com</span> </a>  
      
                </div></li>
                <li><div class="divider"></div></li>
                <li><a href="feeds"><i class="material-icons">flip_to_front</i>Articles</a></li>
                <li><a href="draft"> <i class="material-icons"> drafts</i>Drafts</a></li>
                <li><a href="settings"> <i class="material-icons">settings</i>settings</a></li>
                <li><a href="/"> <i class="material-icons">person_pin</i>logout</a></li>
                
              
              </ul>
             
           <div class="container">
               <div class="row">
                <div class="col s12 m10  l10 offset-m2 offset-l2">
                   
                    <div class="card horizontal">
                      
                      <div class="card-stacked">
                        <div class="card-content">
                            
                            <a href="#user"><img class="circle " src="./images/icons/bg.png" style="width: 10%; height: 10%; margin-left: 50px; margin-top: 5px; "></a>
                            <a href="#name"><span class="blue-text name" >Jenny kibiri<i class="material-icons green-text" style="font-size: 15px">fiber_manual_record</i></span></a>
                            <p style="margin-left: 128px;">system admin</p>
                            <p style="margin-left: 128px;">oct 1 2020</p>
                            <h3>Learn to beacome a Backend Developer</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, molestiae asperiores. Illo, at laudantium. Provident odio rerum esse voluptates ea iusto eum corporis distinctio sapiente quam quos, enim doloribus corrupti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa est totam excepturi quas consectetur cupiditate saepe sunt, nam laudantium possimus quisquam ipsa error adipisci optio similique impedit eveniet, necessitatibus soluta! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, temporibus perferendis! Praesentium nostrum repellat aliquam reiciendis numquam magni est dicta possimus recusandae aperiam, officiis et quis assumenda repudiandae, iure ad.lore Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quae delectus culpa laudantium omnis nam illo temporibus aspernatur, similique reprehenderit deleniti fugit consequuntur voluptas excepturi ea, corrupti iste nesciunt. Magnam?</p>
                          
                        </div>
                        <div class="row">
                            <div class="col s12 m10  l10 offset-m2 offset-l2">
                            
                        
                        <button class="btn-floating btn-large waves-effect waves-light light-blue"><i class="material-icons white-text"   >edit</i> <p>&nbsp;</p>  <br><br></button>
                            </div></div>
                        
                      </div>
                    </div>
                  </div>
              
               </div>
           </div>
           <div class="container">
            <div class="row">
             <div class="col s12 m10  l10 offset-m2 offset-l2">
                
                 <div class="card horizontal">
                   
                   <div class="card-stacked">
                     <div class="card-content">
                         
                         <a href="#user"><img class="circle " src="./images/icons/bg.png" style="width: 10%; height: 10%; margin-left: 50px; margin-top: 5px; "></a>
                         <a href="#name"><span class="blue-text name" >Jenny kibiri<i class="material-icons green-text" style="font-size: 15px">fiber_manual_record</i></span></a>
                         <p style="margin-left: 128px;">system admin</p>
                         <p style="margin-left: 128px;">oct 1 2020</p>
                         <h3>Learn to beacome a Backend Developer</h3>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, molestiae asperiores. Illo, at laudantium. Provident odio rerum esse voluptates ea iusto eum corporis distinctio sapiente quam quos, enim doloribus corrupti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa est totam excepturi quas consectetur cupiditate saepe sunt, nam laudantium possimus quisquam ipsa error adipisci optio similique impedit eveniet, necessitatibus soluta! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, temporibus perferendis! Praesentium nostrum repellat aliquam reiciendis numquam magni est dicta possimus recusandae aperiam, officiis et quis assumenda repudiandae, iure ad.lore Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quae delectus culpa laudantium omnis nam illo temporibus aspernatur, similique reprehenderit deleniti fugit consequuntur voluptas excepturi ea, corrupti iste nesciunt. Magnam?</p>
                       
                     </div>
                     <div class="row">
                         <div class="col s12 m10  l10 offset-m2 offset-l2">
                         
                     
                     <button class="btn-floating btn-large waves-effect waves-light light-blue"><i class="material-icons white-text"   >edit</i> <p>&nbsp;</p>  <br><br></button>
                         </div></div>
                     
                   </div>
                 </div>
               </div>
           
            </div>
        </div>
        <div class="container">
          <div class="row">
           <div class="col s12 m10  l10 offset-m2 offset-l2">
              
               <div class="card horizontal">
                 
                 <div class="card-stacked">
                   <div class="card-content">
                       
                       <a href="#user"><img class="circle " src="./images/icons/bg.png" style="width: 10%; height: 10%; margin-left: 50px; margin-top: 5px; "></a>
                       <a href="#name"><span class="blue-text name" >Jenny kibiri<i class="material-icons green-text" style="font-size: 15px">fiber_manual_record</i></span></a>
                       <p style="margin-left: 128px;">system admin</p>
                       <p style="margin-left: 128px;">oct 1 2020</p>
                       <h3>Learn to beacome a Backend Developer</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, molestiae asperiores. Illo, at laudantium. Provident odio rerum esse voluptates ea iusto eum corporis distinctio sapiente quam quos, enim doloribus corrupti! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa est totam excepturi quas consectetur cupiditate saepe sunt, nam laudantium possimus quisquam ipsa error adipisci optio similique impedit eveniet, necessitatibus soluta! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, temporibus perferendis! Praesentium nostrum repellat aliquam reiciendis numquam magni est dicta possimus recusandae aperiam, officiis et quis assumenda repudiandae, iure ad.lore Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quae delectus culpa laudantium omnis nam illo temporibus aspernatur, similique reprehenderit deleniti fugit consequuntur voluptas excepturi ea, corrupti iste nesciunt. Magnam?</p>
                     
                   </div>
                   <div class="row">
                       <div class="col s12 m10  l10 offset-m2 offset-l2">
                       
                   
             <a href="/draft.ejs">     <button class="btn-floating btn-large waves-effect waves-light light-blue  btn modal-trigger"  data-target="modal1"><i class="material-icons white-text"   >edit</i> <p>&nbsp;</p>  <br><br></button>
</a> 
            </div></div>
                   
                 </div>
               </div>
             </div>
         
          </div>
      </div>
             
          



       

 
       <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
      <script>
          
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
      </script>
    </body>
  </html>